project_name = "application-tracker"
environment  = "dev"
aws_region   = "us-east-1"

student_role_assumer_principal_arn  = "arn:aws:iam::123456789012:role/student-federated-principal"
reviewer_role_assumer_principal_arn = "arn:aws:iam::123456789012:role/reviewer-federated-principal"

database_url = "postgresql+psycopg2://postgres:replace-me@db-endpoint:5432/application_tracker"
